.Card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-height: 100%;
    min-width: 50%;
    border-radius: 2%;
    text-align: center;
    z-index: 2;
    position: relative;

}
